<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products - Admin Marée</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/adminstyle.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Catálogo de Productos</h1>
            <p class="subtitle">Aquí va el catálogo de productos</p>
        </div>
    </section>

     <!-- BOTÓN Registrar nuevo Producto -->
    <a href="#" id="registrarNuevoProducto" class="button fab is-primary is-rounded button-floating">
        <span class="icon">
            <i class="fas fa-plus"></i> 
        </span>
        <span>Añadir Producto</span>
    </a>

<!-- Sección de modals-->

<dialog id="TypeFormsCU04">
  <h2 id="tituloModal">Título dinámico</h2>
  <p>Elige una opción:</p>
  <br>
  <button id="cerrarModal" style="margin-top: 10px;">Cerrar</button>
</dialog>


<dialog id="RegisterFormsCU04">
  <h2 id="formsRegistrarTitulo">Título dinámico</h2>

  <form id="formsRegistrarForm" novalidate>
    <!-- Los campos se inyectan aquí dinámicamente -->

        <!-- Contenedor del Dropdown -->
    <div class="field">
      <label class="label">Seleccionar opción</label>
      <div class="control">
        <div class="select is-fullwidth"> 
          <!-- Aquí es donde inyectarás los <option> -->
          <select id="DropdownIngredientes" name="miDropdownDinamico">
            <option value="">Cargando opciones...</option>
          </select>
        </div>
      </div>
    </div>


  </form>

  <div class="field is-grouped is-grouped-right" style="margin-top: 16px;">
    <div class="control">
      <button id="cerrarFormsRegistrar" type="button" class="button is-light">Cancelar</button>
    </div>
    <div class="control">
      <button id="submitFormsRegistrar" type="submit" form="formsRegistrarForm" class="button is-primary">Guardar</button>
    </div>
  </div>
</dialog>


<script src="/js/menudigital/adminProducts.js"></script>
</body>
</html>