<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products - Admin Marée</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/adminstyle.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Catálogo de Productos</h1>
            <p class="subtitle">Aquí va el catálogo de productos</p>
        </div>
    </section>

     <!-- BOTÓN Registrar nuevo Producto -->
    <a href="#" id="registrarNuevoProducto" class="button fab is-primary is-rounded button-floating">
        <span class="icon">
            <i class="fas fa-plus"></i> 
        </span>
        <span>Añadir Producto</span>
    </a>





<!-- Sección de modals-->

<dialog id="TypeFormsCU04">
  <h2 id="tituloModal">Título dinámico</h2>
  <p>Elige una opción:</p>
  <button id="btnA">Opción A</button>
  <button id="btnB">Opción B</button>
  <br>
  <button id="cerrarModal" style="margin-top: 10px;">Cerrar</button>
</dialog>


<script src="/js/menudigital/adminProducts.js"></script>
</body>
</html>