<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products - Admin Marée</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/adminstyle.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Catálogo de Productos</h1>
            <p class="subtitle">Aquí va el catálogo de productos</p>
        </div>
    </section>

     <!-- BOTÓN Registrar nuevo Producto -->
    <a href="#" id="registrarNuevoProducto" class="button fab is-primary is-rounded button-floating">
        <span class="icon">
            <i class="fas fa-plus"></i> 
        </span>
        <span>Añadir Producto</span>
    </a>


<!-- Sección de modals-->

<dialog id="TypeFormsCU04" class="mymodal">
  <h2 id="tituloModal">Título dinámico</h2>
  <p>Elige una opción:</p>
  <br>
  <button id="cerrarModal" style="margin-top: 10px;">Cerrar</button>
</dialog>


<dialog id="RegisterFormsCU04" class="mymodal">
  <h2 id="formsRegistrarTitulo">Título dinámico</h2>

  <form id="formsRegistrarForm" novalidate>
    <!-- Campos dinámicos (nombre, precio, etc.) se inyectan aquí -->

    <!-- ═══════════════════════════════════════════
         SECCIÓN INGREDIENTES
    ════════════════════════════════════════════ -->
  </form>
  <!-- Footer del modal -->
  <div class="modal-footer">
    <button id="cerrarFormsRegistrar" type="button" class="button is-light">Cancelar</button>
    <button id="submitFormsRegistrar" type="submit" form="formsRegistrarForm" class="button is-primary">Guardar</button>
  </div>
</dialog>




<dialog id="SummaryCU04" class="mymodal">
  <h2 id="SummaryTitleModal">Título dinámico</h2>
  <p>Elige una opción:</p>
  <br>
  <button id="cerrarSummaryModal" style="margin-top: 10px;">Cerrar</button>
  <button id="RegisterProduct" style="margin-top: 10px;">Registrar Nuevo Producto</button>
</dialog>


<!-- Dialogo de ¡EXITO!-->
<dialog id="ModalExito" class="error-modal mymodal">
    <h2 id = "TituloExito">Titulo Dinamico</h2>
    <p id="exitoContent">Contenido Dinámico</p>
    <!-- Botón con ID para manipularlo desde JS -->
    <button id="closeExito">Regresar a Catalogo</button>
</dialog>




<!-- Dialogo de error -->
<dialog id="ErrorModal" class="error-modal mymodal">
    <h2 id="ErrorTitle">Titulo Dinámico</h2>
    <p id="ErrorMessage">Mensaje Dinámico</p>
    <!-- Botón con ID para manipularlo desde JS -->
    <button id="closeInvalidData">Cerrar</button>
</dialog>




<script src="/js/menudigital/adminProducts.js"></script>
</body>
</html>