<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Royalty - Admin Marée</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/adminstyle.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Catálogo de Royalty System</h1>
            <p class="subtitle">Aquí va el catálogo del sistema de lealtad</p>
        </div>
    </section>

    <section class = " box ">
        <form action="/admin/royaltyMetrics" method="GET">
            <input class="button" type="submit" value="View Metrics" />
        </form>
        

    </section>


</body>
</html>