/* CSS HEX: Propuesta 1 */
--graphite: #3d3935ff;
--steel-blue: #7da6baff;
--soft-blush: #edd8d7ff;
--bone: #d3ccbdff;
--muted-olive: #9ab87aff;
--Cream: #F4FEC1;
--muted-olive: #9ab87aff;
--Bubblegum Pink: #E85D75;







