/* CSS HEX: Propuesta 1 */
--graphite: #3d3935ff;
--steel-blue: #7da6baff;
--soft-blush: #edd8d7ff;
--bone: #d3ccbdff;
--muted-olive: #9ab87aff;



/* CSS HEX: Propuesta 2 */
--graphite: #3d3935ff;
--steel-blue: #7da6baff;
--cotton-candy: #ff9fb2ff;
--vanilla-custard: #e9e3b4ff;
--soft-fawn: #d7be82ff;



